body {
  height: 100vh;
}

.win-statement {
  margin: 5%;
  text-align: center;
}

.container {
  height: 500px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px black solid;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.column {
  display: grid;
  place-items: center;
  border: 1px black solid;
}
